@import "global";

#header {
  background: #0A1128;
  padding: 35px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--nav {
      display: flex;
      align-items: center;
      justify-content: start;

      &__navbar {
        margin: 0 50px;

        a {
          padding: 10px;
          color: white;
        }
      }

    }

    &--btn {
      button {
        width: 207px;
        height: 46px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        text-align: center;

        color: #FFFFFF;

        background: #034078;
        border-radius: 5px;

      }

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        text-align: center;
        color: #FFFFFF;
        padding: 0 10px;
      }
    }

  }


}

#hero {
  padding: 90px;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--image {
      &__img1 {
        position: absolute;
        width: 122.37px;
        height: 126.78px;
        left: 782.23px;
        top: 121px;
      }

      &__img2 {
        position: absolute;
        width: 108.14px;
        height: 111.27px;
        left: 620px;
        top: 305px;
      }

      &__img3 {
        position: absolute;
        width: 651.56px;
        height: 535.36px;
        left: 500px;
        top: 121px;
      }

      &__img4 {
        position: absolute;
        width: 191.83px;
        height: 196.24px;
        left: 817px;
        top: 489px;
      }

      &__img5 {
        position: absolute;
        width: 135.6px;
        height: 133.4px;
        left: 1112.97px;
        top: 372.36px;
      }
    }

    &--title {
      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: #FFFFFF;
        padding: 15px;
      }

      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
      }
    }
  }
}

#block {

  .block {
    padding-top: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


      &--title {
        &__gen {
          width: 376.55px;
          height: 168.73px;
          background: #FFFFFF;
          border-radius: 0 0 19.0656px 19.0656px;
          span{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #898989;
          }
          h1 {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            padding: 15px;
          }
          &--lite{
            display: flex;
            justify-content: space-between;
            p{
              font-weight: 500;
              font-size: 15px;
              line-height: 18px;
              color: #044176;
              span{
                color: #044176;
                font-size: 18px;
              }
            }
            h2{
              font-weight: 500;
              font-size: 15px;
              line-height: 18px;
              color: #044176;
            }
          }
        }
      }


  }
}

#user{
  .group{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--right{
    h1{
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
    }
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    button{
      mix-blend-mode: overlay;
      border-radius: 5px;
    }
  }
}

